* {
	margin: 0;
}

.app {
	background-color: #fafafa;
}

.app__header {
	display: flex;
	justify-content: space-between;
	object-fit: contain;
	background-color: white;
	padding: 20px;
	padding-left: 50px;
	border-bottom: 1px solid lightgray;
	position: sticky;
	top: 0;
	z-index: 1;
}

.app__headerImage {
	object-fit: contain;
}

.app__posts {
	padding: 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.app__postsLeft {
	flex: 1;
}

.app__postsRight {
	margin-left: 20px;
	flex: 0;
}
