* {
	margin: 0;
}

.app {
	background-color: #fafafa;
}

.app__header {
	display: flex;
	justify-content: space-between;
	object-fit: contain;
	background-color: white;
	padding: 20px;
	border-bottom: 1px solid lightgray;
}

.app__headerImage {
	object-fit: contain;
}

.app__posts {
	padding: 20px;
}
